{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Nouveau mot de passe{% endblock %}
{% block page_content %}
<div class="container py-5 mt-5">
{% if validlink %}
    <h1>Choisissez un mot de passe</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary" type="submit">Enregistrer</button>
    </form>
{% else %}
    <h1>Lien invalide</h1>
    <p>Ce lien a expiré ou a déjà été utilisé. <a href="{% url 'password_reset' %}">Demandez-en un nouveau</a>.</p>
{% endif %}
</div>
{% endblock %}
